{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block content %}
<h1>welcome</h1>
<p><a href="{{ url_for('tables') }}">Tables</a></p>
<p><a href="{{ url_for('postcode_premises') }}">Premises by postcode</a></p>
<p><a href="{{ url_for('ba_ref_premises') }}">Premises by ba_ref</a></p>
<p><a href="{{ url_for('spending_nuts1_list') }}">NUTS1 consumer spending per capita</a></p>
<p><a href="{{ url_for('la_list') }}">Premises by local authority</a></p>
<p><a href="{{ url_for('scat_list') }}">Premises by scat code</a></p>
<p><a href="{{ url_for('la_areas_list') }}">Area summary by local authority</a></p>
<p><a href="{{ url_for('scat_areas_list') }}">Area summary by scat code</a></p>
<p><a href="{{ url_for('scat_diff') }}">Premises with non-matching scat code</a></p>
<p><a href="{{ url_for('scat_group_area_graph') }}">Area estimate graph</a></p>

{% endblock %}
