{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block content %}
<h1>welcome</h1>
<p><a href="{{ url_for('tables') }}">Tables</a></p>
<p><a href="{{ url_for('postcode_premises') }}">Premises by postcode</a></p>
<p><a href="{{ url_for('la_list') }}">Premises by local authority</a></p>
<p><a href="{{ url_for('scat_list') }}">Premises by scat code</a></p>
<p><a href="{{ url_for('la_areas_list') }}">Area summary by local authority</a></p>
<p><a href="{{ url_for('scat_areas_list') }}">Area summary by scat code</a></p>
{% endblock %}
