{% macro offset_paging(offset) %}
{% if offset != '' %}
{% if offset >= 1000 %}
<a href="{{ modify_query(offset=offset - 1000) }}">prev</a>
{% endif %}
<a href="{{ modify_query(offset=offset + 1000) }}">next</a>
{% endif %}
{% endmacro %}

{% macro table(data) %}
{% set offset = data.offset or 0 %}
{{ offset_paging(data.offset) }}
<table border="1">
{% for row in data.data %}
{% if loop.index == 1 %}
  <thead>
    {% if data.title %}
    <caption>{{ data.title }}</caption>
    {% endif %}
    <tr>
      <th>#</th>
{% for field in data.fields %}
  <th>
    {{ field.name }}
    {% if field.type %}
      </br>
      ({{ field.type }})
    {% endif %}
  </th>
{% endfor %}
</tr>
</thead>
<tbody>
{% endif %}
<tr>
  <td>{{ loop.index + offset }}</td>
  {% for cell in row %}
  <td>
  {% if (loop.index - 1) in data.functions %}
    {% set cell = data.functions[loop.index - 1](cell) %}
  {% endif %}
  {% if (loop.index - 1) in data.links %}
  {% set link = data.links[loop.index - 1] %}
  <a href="{{ url_for(link[0], **{link[1]: row[link[2]]})}}">{{ cell }}</a>
  {% else %}
  {{ cell }}
  {% endif %}
 </td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{{ offset_paging(data.offset) }}
{% endmacro %}
