{% macro offset_paging(offset) %}
{% if offset != '' %}
{% if offset >= 1000 %}
<a href="{{ modify_query(offset=offset - 1000) }}">prev</a>
{% endif %}
<a href="{{ modify_query(offset=offset + 1000) }}">next</a>
{% endif %}
{% endmacro %}

{% macro table(data) %}
{% set offset = data.offset or 0 %}
{{ offset_paging(data.offset) }}
<table>
{% for row in data.data %}
{% if loop.index == 1 %}
  <thead>
    {% if data.title %}
    <tr>
      <th class="table_title" colspan="{{ data.fields|length + 1 }}">{{ data.title }}</th>
    </tr>
    {% endif %}
    <tr>
      <th>#</th>
{% for field in data.fields %}
  <th>
    {{ field.name }}
    {% if field.type %}
      </br>
      <span class="field_type">{{ field.type }}</span>
    {% endif %}
  </th>
{% endfor %}
</tr>
</thead>
<tbody>
{% endif %}
<tr>
  <td>{{ loop.index + offset }}</td>
  {% for cell in row %}
  {% if (loop.index - 1) in data.functions %}
    {% set cell = cell_function(data.functions[loop.index - 1], cell) %}
  {% endif %}
  {% set type = data.fields[loop.index -1].type %}
  <td{{ make_td_class(type, data.title) }}>
  {% if (loop.index - 1) in data.links %}
    {% set link = data.links[loop.index - 1] %}
    <a href="{{ url_for(link[0], **{link[1]: row[link[2]]})}}">{{ cell }}</a>
  {% else %}
    {{ format_table_value(type, cell) }}
  {% endif %}
 </td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{{ offset_paging(data.offset) }}
{% endmacro %}


{% macro table_list(data) %}
<table class="list">
{% for row in data.data %}
{% if loop.index == 1 %}
  <thead>
    {% if data.title %}
    <tr>
      <th class="table_title" colspan="{{ data.fields|length + 1 }}">{{ data.title }}</th>
    </tr>
    {% endif %}
    </thead>
    <tbody>
{% for cell in row %}
{% set field = data.fields[loop.index - 1] %}
<tr>
  <th>
    {% if field.type %}
    <span class="field_type">{{ field.type }}</span>
    {% endif %}
    {{ field.name }}
  </th>
  <td>
  {% if (loop.index - 1) in data.functions %}
    {% set cell = cell_function(data.functions[loop.index - 1], cell) %}
  {% endif %}
  {% if (loop.index - 1) in data.links %}
  {% set link = data.links[loop.index - 1] %}
  <a href="{{ url_for(link[0], **{link[1]: row[link[2]]})}}">{{ cell }}</a>
  {% else %}
  {{ cell }}
  {% endif %}
 </td>
  </tr>
{% endfor %}
{% endif %}
{% endfor %}
</tbody>
</table>
{% endmacro %}
